# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
uploaded/*
uploaded/*/*
src/roboto/*
node_modules
dist
dist-ssr
*.local
/src/bootstrap-icons-1.9.1
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
common-codes/.git
src/output.css
