.month_calendar tbody tr:not(.headers):hover{
    background-color : rgb(0, 0, 255);
}
.month_calendar tbody tr:not(.headers) td:hover{
    background-color : red;
}
.month_calendar , .month_calendar td,.month_calendar th { 
    border :1px solid black 
}